<div class="container-fluid m-0 px-2">

    <div class="row mt-2 mt-md-4 px-3 justify-content-center">
        <h1 class="row w-100 font-weight-bold justify-content-center">TmbdGame</h1>
        <div class="row w-100 justify-content-center ft-calibri">
            Test your cinematographic knowledge by finding the right film's title from its summary! 
            Be sure of your answers, only two errors are allowed. Clues are available but choose well because some are 
            more useful than others and each revealed clues will decrease the number of earned points.
        </div>
    </div>
        
    <h2 class="row mt-3 mt-md-5 mb-0 p-1 p-md-2 bg-dark rounded-top text-light justify-content-center">DIFFICULTY</h2>

    <div class="row mt-0 border bg-light border-dark rounded-bottom justify-content-around ">
        <div class="row w-100 my-2 my-md-4 justify-content-around ">
            <button type="button" class="col-md-3 mx-3 p-1 p-sm-2 p-md-3 btn btn-outline-custom" [class.active]="mode==='2'" (click)="setMode('2')">NOVICE</button>
            <button type="button" class="col-md-3 mx-3 p-1 p-sm-2 p-md-3 mt-1 mt-md-0 btn btn-outline-custom" [class.active]="mode==='4'" (click)="setMode('4')">COMPETENT</button>
            <button type="button" class="col-md-3 mx-3 p-1 p-sm-2 p-md-3 mt-1 mt-md-0 btn btn-outline-custom " [class.active]="mode==='1'" (click)="setMode('1')">EXPERT</button>
        </div>
    </div>

    <h2 class="row mt-3 mt-md-5 mb-0 p-1 p-md-2 bg-dark rounded-top text-light justify-content-center">THEMES</h2>

    <div class="row mt-0 border bg-light border-dark rounded-bottom justify-content-around ">
            <div class="row w-100 my-2 my-md-4 justify-content-around ">
            <div class="col-md-3"> 
                <h3 class="row justify-content-center ">YEARS</h3>
                <button type="button" class="btn p-1 p-sm-2 p-md-3 btn-outline-custom btn-lg btn-block" [class.active]="startYear === ''" (click)="setYears('')">EVERYTIME</button>
                <button type="button" class="btn mt-1 mt-md-2 p-1 p-sm-2 p-md-3 btn-outline-custom btn-lg btn-block" [class.active]="startYear==='1920'" (click)="setYears('1920-1960')">1920-1960</button>
                <button type="button" class="btn mt-1 mt-md-2 p-1 p-sm-2 p-md-3 btn-outline-custom btn-lg btn-block" [class.active]="startYear==='1960'" (click)="setYears('1960-1980')">1960-1980</button>
                <button type="button" class="btn mt-1 mt-md-2 p-1 p-sm-2 p-md-3 btn-outline-custom btn-lg btn-block" [class.active]="startYear==='1980'" (click)="setYears('1980-2000')">1980-2000</button>
                <button type="button" class="btn mt-1 mt-md-2 p-1 p-sm-2 p-md-3 btn-outline-custom btn-lg btn-block" [class.active]="startYear==='2000'" (click)="setYears('2000-2018')">2000-2018</button>
            
            </div>
            <div class="mt-2 mt-md-0 col-md-3"> 
                    <h3 class="row justify-content-center ">GENRES</h3>
                    <button type="button" class="btn p-1 p-sm-2 p-md-3 btn-outline-custom btn-lg btn-block" [class.active]="genreId===''" (click)="setGenre('')">ALL</button>
                    <button type="button" class="btn mt-1 mt-md-2 p-1 p-sm-2 p-md-3 btn-outline-custom btn-lg btn-block" [class.active]="genreId==='35'" (click)="setGenre('35')">COMEDY</button>
                    <button type="button" class="btn mt-1 mt-md-2 p-1 p-sm-2 p-md-3 btn-outline-custom btn-lg btn-block" [class.active]="genreId==='18'" (click)="setGenre('18')">DRAME</button>
                    <button type="button" class="btn mt-1 mt-md-2 p-1 p-sm-2 p-md-3 btn-outline-custom btn-lg btn-block" [class.active]="genreId==='53'" (click)="setGenre('53')">THRILLER</button>
                    <button type="button" class="btn mt-1 mt-md-2 p-1 p-sm-2 p-md-3 btn-outline-custom btn-lg btn-block" [class.active]="genreId==='27'" (click)="setGenre('27')">HORREUR</button>
                    <button type="button" class="btn mt-1 mt-md-2 p-1 p-sm-2 p-md-3 btn-outline-custom btn-lg btn-block" [class.active]="genreId==='14'" (click)="setGenre('14')">FANTASTIC</button>
            </div>
            <div class="mt-2 mt-md-0 col-md-3"> 
                    <h3 class="row justify-content-center ">LANGUAGE</h3>
                    <button type="button" class="btn p-1 p-sm-2 p-md-3 btn-outline-custom btn-lg btn-block" [class.active]="country===''" (click)="setCountry('')">ALL</button>
                    <button type="button" class="btn mt-1 mt-md-2 p-1 p-sm-2 p-md-3 btn-outline-custom btn-lg btn-block" [class.active]="country==='fr'" (click)="setCountry('fr')">FRENCH</button>
                    <button type="button" class="btn mt-1 mt-md-2 p-1 p-sm-2 p-md-3 btn-outline-custom btn-lg btn-block" [class.active]="country==='en'" (click)="setCountry('en')">ENGLISH</button>
            </div>
        </div>
    </div>


    <div class="row my-3 my-md-5 my-lg-5 justify-content-around ">
        <button class="col-md-3 btn py-md-4 btn-dark btn-lg btn-block rounded" [routerLink]="['/tmdbGame', { 'mode': mode, 'startYear': startYear, 'endYear': endYear, 'genreId': genreId, 'country': country }]">PLAY</button> 
    </div>
</div>